.form_container {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
  /* filter: blur(5px); */
}

.form_container h4 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  border-radius: 5px;
}

.btn {
  border-radius: 5px;
  width: 100%;
}
